<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <%- include('layouts/head') %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
      <!-- ============================================================== -->
      <!-- Topbar header - style you can find in pages.scss -->
      <!-- ============================================================== -->
      <header class="topbar"><%- include('layouts/header') %></header>
      <!-- ============================================================== -->
      <!-- End Topbar header -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <aside class="left-sidebar"><%- include('layouts/sidebar') %></aside>
      <!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-5 align-self-center">
              <h4 class="page-title">Find Customer</h4>
            </div>
            <div class="col-7 align-self-center">
              <div class="d-flex align-items-center justify-content-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Find Customer
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <span class="text-danger">*</span> Marks will be required.
                </div>
              </div>
            </div>
          </div>

          <!-- ============================================================== -->
          <!-- Form content -->
          <!-- ============================================================== -->
          <div class="row">
            <div class="col-lg-3 col-sm-6 mx-auto">
              <div class="card border-info">
                <div class="card-header text-white py-3 bg-primary">
                  <h4 class="my-0 fw-normal">Search Customer</h4>
                </div>
                <div class="card-body">
                  <form id="find_customer_form">
                    <input
                      type="text"
                      class="form-control"
                      id="customer_mobile"
                      placeholder="Mobile Number Here"
                      required
                    />
                    <div
                      id="wrong-number"
                      class="invalid-feedback"
                      style="display: none"
                    >
                      Please Enter 10 Digit Numer.
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- Not in process -->
          <div id="not-in-process" class="row" style="display: none">
            <div class="col-lg-5 col-sm-12 order-lg-2 m-auto">
              <div class="card">
                <div class="row">
                  <div class="col-12">
                    <div class="bg-primary p-2 d-flex">
                      <div class="text-left text-white display-7">
                        <i class="ti-user"></i>
                      </div>
                      <h4 class="ml-3 my-auto fw-normal text-white">
                        Customer Details
                      </h4>
                    </div>
                    <div class="card-body">
                      <div class="d-flex no-block align-items-center m-b-15">
                        <span
                          >Name:
                          <h4 id="customer-name"></h4
                        ></span>
                      </div>
                      <h3 class="font-normal">
                        No Active Query Found For This Customer
                      </h3>
                      <button
                        class="btn btn-success btn-rounded waves-effect waves-light m-t-20 process"
                      >
                        Start New Query
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- No Customer Found -->
          <div id="no-customer" class="row" style="display: none">
            <div class="col-lg-4 col-sm-12 order-lg-2 m-auto">
              <div class="card">
                <div class="row">
                  <div class="col-12">
                    <div class="bg-danger p-2 d-flex"></div>
                    <div class="card-body">
                      <h3 class="font-normal animated flash">
                        No Data Found For This Number
                      </h3>
                      <button
                        id="add-customer"
                        class="btn btn-warning btn-rounded waves-effect waves-light m-t-20"
                      >
                        Add New Customer
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- test div -->

          <div id="in-process" class="row" style="display: none">
            <div class="mx-auto col-lg-8 col-sm-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">In process List</h4>
                  <div id="process-data" class="table-responsive"></div>
                  <button
                    class="btn btn-success btn-rounded waves-effect waves-light m-t-20 process"
                  >
                    Start New Query
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- <div col-lg-5 col-sm-12>
                      <div id="inProcessTableContainer"></div>
                    </div> -->
          <!-- ============================================================== -->
          <!-- End PAge Content -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Right sidebar -->
          <!-- ============================================================== -->
          <!-- .right-sidebar -->
          <!-- ============================================================== -->
          <!-- End Right sidebar -->
          <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
          <%- include('layouts/footer') %>
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- customizer Panel -->
    <!-- ============================================================== -->
    <!-- <aside class="customizer"></aside>
    <div class="chat-windows"></div> -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <%- include('layouts/scriptsLink') %>
    <script>
      let customerId = "";
      let mobNumber = 0;

      $(document).ready(() => {
        // When typing then hide boxes
        $("#customer_mobile").on("input", () => {
          $("#in-process").hide();
          $("#not-in-process").hide();
          $("#no-customer").hide();
          $("#wrong-number").hide();
        });

        // find Details depending on MObile number
        $("#customer_mobile").blur(() => {
          mobNumber = $("#customer_mobile").val();
          if (/^\d{10}$/.test(mobNumber)) {
            axios
              .post(`/customer/findCustomer/${mobNumber}`)
              .then((response) => {
                const customerData = response.data;
                if (!customerData) {
                  $("#no-customer").show();
                  // addNewCustomer(mobNumber);
                } else if (customerData.customerName) {
                  customerId = customerData.customerID;
                  $("#not-in-process").show();
                  $("#customer-name").html(customerData.customerName);
                } else {
                  customerId = customerData.customerId;
                  const tableHTML = generateTable(customerData.inprocessData);
                  $("#in-process").show();
                  $("#process-data").html(tableHTML);
                }
              })
              .catch((error) => {
                console.error("Error fetching user data:", error);
              });
          } else {
            $("#wrong-number").show();
          }
        });

        // For create Inprocess data Table
        function generateTable(data) {
          let tableHTML =
            "<table class='table table-striped table-bordered display nowrap' style='width:100%'><thead><tr><th>Name</th><th>Metal</th><th>Executive</th><th>Product</th><th>Status</th><th>FollowUp</th><th>Action</th></tr></thead><tbody>";
          data.forEach((row) => {
            tableHTML += `<tr>
            <td>${row.customer_name}</td>
            <td>${row.metal_type}</td>
            <td>${row.executive_name}</td>
            <td>${row.product_name}</td>
            <td>${row.current_status}</td>
            <td>${row.followup_date}</td>
            <td><button class='btn btn-secondary' onclick='processButtonClick("${row.process_id}")'>Process</button></td>
            </tr>`;
          });
          tableHTML += "</tbody></table>";
          return tableHTML;
        }

        // create New query
        $(".process").click(() => addNewQuery(customerId));

        $("#add-customer").click(() => addNewCustomer(mobNumber));
        // End
      });

      // Add New Customer
      const addNewCustomer = (number) => {
        window.location.href = `/customer/addNewCustomer?mobileNumber=${number}`;
      };

      // Create New Query
      const addNewQuery = (id) => {
        window.location.href = `/sales/addSaleDetails?customer_id=${id}`;
      };

      // For update in update inprocess data
      const processButtonClick = (processId) => {
        window.location.href = `/inProcess/updateInprocessData?processId=${processId}`;
      };

      // if (customerId) {
      // const getCustomerData = (customerId) => {
      //   axios
      //     .get(`/customer/getCustomer/${customerId}`)
      //     .then((response) => {
      //       const customerData = response.data;
      //       if (customerData) {
      //         mobileH4.innerHTML = customerData.customer_mobile;
      //         nameH4.innerHTML = customerData.customer_name;
      //       }
      //     })
      //     .catch((error) => {
      //       console.error("Error fetching customer data:", error);
      //     });
      // };
    </script>
  </body>
</html>
